/* ===== オーバーレイ ===== */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.is-active {
    opacity: 1;
    pointer-events: auto;
}

/* ===== モーダル本体 ===== */
.review-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 598px;
    height: 395px;
    background: #FDFCE6;
    border-radius: 14px;
    border: 1px solid #000000;
    z-index: 1001;
    padding: 0;
    pointer-events: auto;
}

.review-modal__title {
    padding: 16px;
    font-size: 35px;
    font-weight: bold;
    height: 88px;
    line-height: 21px;
    border-bottom: 1px solid #000000;
    margin-bottom: 0;
}

.review-modal__text {
    padding: 0 16px 0;
    color: #868686;
    font-size: 20px;
    margin-bottom: 0;
}

/* 星エリア */
.review-stars {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.star {
    width: 100px;
    height: 100px;
    background: url("/img/Star 9.png") no-repeat center / contain;
    border: none;
    cursor: pointer;
}

.star.is-active {
    background-image: url("/img/Star 6.png");
}

/* 送信ボタン */
.review-submit {
    margin: 10px 16px 10px auto;
    display: block;
    padding: 10px 24px;
    background: #ff8a8a;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 24px;
}