.header {
    margin: 0 auto;
    width: 100%;
    height: 82px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 370px;
    height: 36px;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 250px;
}

.header-logo__image {
    width: 100%;
}

.header-search__form {
    width: 500px;
    height: 50px;
    text-align: center;
    margin: 15px auto;
    min-width: 300px;
}

.header-search__input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    padding-left: 30px;
}

.header-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 463px;
}

.header-nav__item {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    flex: auto;
    margin-right: 10px;
}

.header-nav__link {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
}

.header-nav__button {
    display: block;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    color: #000000;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.header-nav__button:hover {
    background: #ddd;
}

@media screen and (max-width: 1020px) and (min-width: 769px) {
    .header {
        padding-top: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .header-logo {
        order: 1;
        width: 40%;
        margin: 0;
    }

    .header-nav {
        order: 2;
        width: 55%;
        justify-content: flex-end;
        margin: 0;
    }

    .header-search__form {
        order: 3;
        width: 80%;
        margin-top: 10px;
    }
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px;
        height: auto;
    }

    .header-search__form {
        order: 3;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .header-search__input {
        width: 100%;
    }

    .header-nav {
        order: 2;
        gap: 10px;
    }

    .header-nav__item {
        margin-right: 5px;
    }

    .header-nav__link {
        font-size: 18px;
    }

    .header-nav__button {
        font-size: 18px;
        padding: 1px 0;
        width: 80px;
        height: 30px;
    }
}