.content-wrapper {
    max-width: 700px;
    margin: 50px auto;
}

.exhibition-form__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.exhibition-form__group {
    margin: 20px 10px;
}

.exhibition-form__image-section {
    border: 1px dotted #5F5F5F;
    border-radius: 4px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exhibition-form__image-label {
    margin-top: 12px;
    padding: 6px 16px;
    border: 2px solid #FF5555;
    color: #FF5655;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    height: 43.46px;
}

.exhibition-form__label {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.exhibition-form__input {
    height: 59px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}

.exhibition-form__subheading {
    color: #5F5F5F;
    border-bottom: 1px solid#5F5F5F;
    font-size: 30px;
    font-weight: 700;
    margin: 40px 10px;
}

.exhibition-form__btn {
    width: 100%;
    height: 65.25px;
    background-color: #FF5555;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-top: 80px;
}

.exhibition-form__error-message {
    color: #FF9494;
}