.content-wrapper {
        max-width: 700px;
        margin: 118px auto 0;
}

.register-form__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.register-form__group {
    margin: 20px 10px;
}

.register-form__label {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.register-form__input {
    height: 59px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}

.register-form__btn {
    width: 100%;
    height: 65.25px;
    background-color: #FF5555;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-top: 80px;
}

.login__link {
    text-align: center;
    height: 53px;
}

.login__link-link {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
    font-weight: 400;
}

.register-form__error-message {
    color: #FF9494;
}