.container {
    text-align: center;
    margin:  220px auto;
}

.verify__message {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #000;
}

.verify__button {
    background-color: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.verify__button:hover {
    background-color: #9491919f;
}

.verify__resend {
    margin-top: 40px;
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
}

.verify__resend:hover {
    text-decoration: underline;
}